
body {
    color: #0E0E0E;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(234, 237, 237);
    font-size: 3rem;
    min-width: 80rem;
}

.exit-container {
    height: 80px;
    width: 110px;
    border-radius: 4px;
    background: rgb(234, 237, 237);
    font-size: 5rem;
    
}

.choice-container:hover, .exit-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, 1);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: #0E0E0E;
}

.choice-text, .exit-text{
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgba(11,223,36) 0%, rgb(41,232,111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230,29,29, 1) 0%, rgb(224,11,11, 1) 100%);
}

/* pantalla de visualización frontal */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center; 
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid black;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}
#progressBarFull {
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+33,008a00+67,005700+83,002400+100;Green+3D+%231 */
    background: rgb(180,221,180); /* Old browsers */
    background: -moz-linear-gradient(left,  rgb(180,221,180) 0%, rgb(131,199,131) 17%, rgb(82,177,82) 33%, rgb(0,138,0) 67%, rgb(0,87,0) 83%, rgb(0,36,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgb(180,221,180) 0%,rgb(131,199,131) 17%,rgb(82,177,82) 33%,rgb(0,138,0) 67%,rgb(0,87,0) 83%,rgb(0,36,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgb(180,221,180) 0%,rgb(131,199,131) 17%,rgb(82,177,82) 33%,rgb(0,138,0) 67%,rgb(0,87,0) 83%,rgb(0,36,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=1 ); /* IE6-9 */
    width: 0;
}

@import 'base/responsive';