:root {
    background-image: linear-gradient(135deg, #B8AD3D, #A49637, #A89938
    ,  #286777,#266673, #25636F, #B83F3D, #B8453D, #A13736);
    background-size: 500%;
    animation: fanimado 10s infinite;
}
@keyframes fanimado{
    0%{
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
