@media screen and (max-width: 1024px) {
    .flex-column .choice-container, .container{
         min-width: 28rem;
    }
}
@media screen and (max-width: 768px) {
     .choice-container, .container{
         min-width: 28rem;
    }
}
@media screen and (max-width: 480px) {
    body{
         min-width: 10rem;
    }
    .title_main{
        font-size: 12pt;
    }
}


